<div id="retrievePasswordPage">
<h2>Retrive password</h2>

<div name="retrieveUser">
    <form name="retrieveUsername">
        <div class="form-group">
            <label> Enter your username: </label>

            <div class="input-group-addon"> <i class="glyphicon glyphicon-info-sign"></i> <input name="userToRestore" ng-model="userToRestore" placeholder="username" type="text"
                oninvalid="setCustomValidity('Please enter a valid username!')"
                onchange="try{setCustomValidity('')}catch(e){}" required></div>
            
            <!-- <span ng-show="retrieve.userToRestore.$error.required">This field is required! </span> -->
            <div class="retrieveButtons">
                <input ng-disabled="retrieveUsername.username.$invalid" type="button" id="login" value="Search"
                    ng-click="getVerificationQuestions()">
                <input type="button" id="cancel" value="Cancel" ng-click="cancelRequest()">
            </div>
            <div ng-switch="wrongUsername">
                <div class="userError" ng-switch-when="true"> The user doesn't exist. Please try again:) </div>
                <div class="userExist" ng-switch-when="false"></div>
            </div>
        </div>
        <div>
        </div>
    </form>
</div>
<!-- <div ng-switch="userVerified" ng-init="userVerified=false"> -->
    <div class="retrieveQuestions" ng-show="isUserVerified()" >
        <form name="retrieve" ng-submit="retrievePassword()" novalidate>
            <div class="form-group">
                <p id="securityQuestions">Security questions</p>
                <table id="Q&A">
                    <tr>
                        <td> Question #1: </td>
                        <td> <label> {{firstUserQuestion.QuestionValue}} </label> </td>
                    </tr>
                    <tr>
                        <td> Answer #1: </td>
                        <td> <input name="answer1" ng-model="answer1" placeholder="Answer to the first question"
                                type="text" required> </td>
                    </tr>
                    <tr>
                        <td> Question#2: </td>
                        <td> <label> {{secondUserQuestion.QuestionValue}} </label> </td>
                    </tr>
                    <tr>
                        <td> Answer #2: </td>
                        <td> <input name="answer2" ng-model="answer2" placeholder="Answer to the second question"
                                type="text" required> </td>
                    </tr>
                </table>
                <div class="retrieveButtons">
                    <input ng-disabled="retrieve.$invalid " type="submit" id="restore" value="Restore Password">

                    <div class="userError" ng-init="wrongUsername=false"> {{message}} </div>
                </div>
            </div>
            <div>
            </div>
        </form>
    </div>
    <!-- <div class="emptyQuestions" ng-swich-when="false"></div> -->
<!-- </div> -->
</div>